[user]
  name = David Afonso
  email = davafons@gmail.com
  username = davafons
  signingkey = A1B6340B7D07548F

[core]
  editor = vim

[diff]
  tool = vimdiff

[alias]
  a = add --all
  ai = add -i
  ####
  l = log
  s = status
  b = branch
  c = checkout
  ####
  uns = reset HEAD
  ####
  d = diff
  dc = diff --cached
  ####
  ret = "!git add . & git cz --retry"

[commit]
  gpgsign = true

[gpg]
  program = gpg2
