[user]
  name = David Afonso
  email = david.afonso@paypay-corp.co.jp
  username = david-paypay
	signingkey = 45E69CEFA08571E42487226CBCC85D5313DEACC0

[core]
  editor = nvim

[diff]
  tool = vimdiff

[push]
  default = current

[pull]
  rebase = true

[alias]
  a = add --all
  ai = add -i

  l = log
  s = status
  b = branch
  bd = branch -d
  c = checkout

  uns = reset HEAD

  d = diff
  dc = diff --cached

  ret = "!git add . & git cz --retry"

  co = comit
  coa = commit --amend

[commit]
	gpgsign = true

[gpg]
	program = gpg
