xrandr --output DP-2 --mode 3840x2160 --rate 60 --pos 0x0 --output DP-4 --mode 3840x2160 --rate 120 --pos 3840x0

setxkbmap -option ctrl:nocaps
GTK_IM_MODULE=fcitx
QT_IM_MODULE=fcitx
XMODIFIERS=@im=fcitx
